
/* header */
:root{
    --tailleheader:0px;
    --longeursidebar:300px;
    --longeurmysection:calc(100vw - var(--longeursidebar)) /* trés bourrin */
}
/* header mdp */

:root{
    --tailleheadermdp:150px;
    
}